################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GiphyIntegration/bin/Debug/net5.0
/GiphyIntegration/obj
